.bg-home-collapse {
    background: linear-gradient(154deg,#ff7861 -38.54%,#d613ee 99.56%);
}
.bg-home-collapse--desktop {
    background: linear-gradient(247deg,#fa12e3 17.39%,#7612fa 64.22%,#12d0fa 97.73%);
    box-shadow: 0 3px 20px 0 rgba(67,46,134,.1);
}