.bg-home-collapse {
    background: linear-gradient(154deg,#ff7861 -38.54%,#d613ee 99.56%);
}

.bg-home-collapse--desktop {
    background: linear-gradient(247deg,#fa12e3 17.39%,#7612fa 64.22%,#12d0fa 97.73%);
    box-shadow: 0 3px 20px 0 rgba(67,46,134,.1);
}

.bg-home-join-team {
   &::before {
        @apply block content-[""] -z-10 bg-[url(/static/images/bg-join-logo.svg)] bg-no-repeat bg-cover absolute 
        left-1/2 -top-[60px] w-screen h-[360px] bg-[50%] -translate-x-1/2;
   }
}

.bg-home-call-out {
    &::before {
        @apply block content-[""] absolute top-1/2 left-1/2 z-[1] size-[766px] lg:size-[1100px] bg-[url("/static/images/bg-call-out.svg")] bg-cover -translate-x-[50%] -translate-y-[50%]
    }
}

.bg-home-callout-wrapper {
    @apply bg-[url("/static/images/cta-bg.png")] bg-[auto_450px] bg-no-repeat;
}

.home-team-tab-btn {
    background-image: linear-gradient(89deg,#45c4f9 -25.12%,#7d09ff 46.26%,#ff0be5 116.7%);
    &::before {
        @apply content-[url(/static/images/free-logo.svg)] absolute -right-6 -top-12 scale-90
    }
}